/*
filename: Sharmik
author: Sharmik
created: 23rd Aug 2018
last modified: 28rd Aug 2018
description: index.html
*/

/*font, background for all pages*/
body {						
	font-family: calabri, sans-serif;
	background-color: #F5F5F5;
}

header {
	background-color: red;
    animation-name: example;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

.website_header {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.company_logo {
	padding: 5px;
	float: left;
	width: min-content;
}

.company_logo img {
	width: 100%;
	min-width: 100px;
}

.company_name {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-variant: small-caps;
}

/*footer of all pages*/
footer						
{
	font-size: small;
	text-align: center;
	clear: both;
	width: 100%;
}

.categories{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

/*images on index pages*/
.fitness {	
	display: inline-block;
	width: 33%;
	text-align: center;
}

/*images on index pages*/
.fitness img {	
	width: 100%;
}

.justify {
	text-align: justify;
}

/*table name is aligned center at bottom*/
table caption {
	text-align: center;
	caption-side: top;
	padding-bottom: 1%;
	padding-top: 1%;
	font-weight: bold;
	font-size: x-large;
}

/*recommendation table boarders*/
#recommendation, #recommendation th, #recommendation td	{
	border: 1px solid darkgreen;
}

/*background color and font size for table head*/
#recommendation thead {
	background-color: lightgreen;
	font-size: 1.25em;
}

/*text format and background for body content*/
#recommendation td {
	text-align: justify;
	padding: 0.5em 1em 0.5em 0.5em;
	color: black;
}

.underline {
	text-decoration: underline;
}

.product_details_row_2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-left: auto;
    margin-right: auto;
	justify-content: space-around;
}

.product_images {
	display: flex;
	justify-content: space-around;
	justify-items: center;
}

.product_images img{
	width: 100%;
	max-width: 358px;
	filter: contrast(2.5);
	display: flex;
	justify-content: space-around;
	justify-items: center;
}

.product_images img:hover {
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 5px 5px 2.5px gray;
}

.benifits {
	width: 50%;
	line-height: 1.6;
}

input[type=text], input[type=email], input[type=textarea], select, #state {
    width: 100%;
	border-radius: .25rem;
    border: 1px solid lightgray;
	margin-bottom: 1rem;
	line-height: 1.5rem;
	height: 1.5rem;
	-webkit-appearance: menulist-button;
}

input[type=text], input[type=email], input[type=textarea]:focus {
	outline: 2px solid transparent;
    outline-offset: 2px;
}

.form_name {
	display: flex;
    justify-content: center;
    margin: auto;
}

.forms {
	display: flex;
	margin: auto;
	flex-direction: column;
	width: 50%;
	justify-items: center;
}

.fit_content {
	width: fit-content;
}

.labels {
	margin-bottom: 1rem;
}

.input_field {
	justify-content: center;
}

.radio_button_input_field {
	display: flex;
	margin-bottom: 1rem;
}

.radio_button {
	margin-right: 25px;
	justify-content: space-around;
}

input[type="radio" i] {
    margin: 3px 0px 0px 3px
}

.new_fieldset {
	margin-top: 25px;
	padding-top: 1rem;
}

.category {
	font-size: small;
	font-weight: bold;
	color: red;
}

.buttons {
	display: flex;
	justify-content: center;
}

input[type=submit], input[type=reset], input[type=button] {
	margin: 10px;
    padding: 10px;
	font-size: large;
	background-color: lightgray;
	border-radius: 0.25em;
	border: 1px solid darkgrey;
}

.output_field {
	margin-top: 1rem;
}

.card_samples {
	margin: 0px 0px 1rem 0px;
}

.card_sample {
	border-radius: 5px;
}

.date_field {
	display: inline-flex;
    width: 15%;
}

.date_seperator {
	font-size: x-large;
	margin: 0px 2px 0px 2px;
}

.order_details {
	font-size: large;
	margin: 1rem 0rem 0rem 0rem;
}

.font_bold {
	font-weight: bold;
}

.tables {
	margin: 1.5rem 0 1.5rem 0;
}

.table_cells {
	padding: 5px;
	text-align: center;
}

.table_cells select{
	margin: auto;
}

@keyframes example  {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
    0%   {color: green;}
    25%  {color: blue;}
    50%  {color: yellow;}
    100% {color: red;}
}

/*responsive website setting for tablet*/
/* @media screen and (max-width: 1200px) 		
{
    .Fitness 
    {
		clear: both;
        width: 47%;
		justify-content: center;
    }
} */

/*responsive website setting for mobile devices*/
@media screen and (max-width: 600px) {

	.website_header {
		flex-direction: column;
		text-align: center;
	}

	.benifits {
		width: 100%;
	}

	.forms {
		width: 100%;
	}

	.card_samples {
		display: flex;
		justify-content: center;
	}

	.date_field {
		display: inline-flex;
		width: 25%;
	}

	.tables { 
		width: 100%;
		border: none; 
	}

	.table_cells {
		padding-left: 40%;
		text-align: left;
	}

	.table_cells select {
		height: auto;
	}

	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { 
		border: 1px solid #ccc;
		margin-top: 10px; 
	}
	
	td { 
		border: none; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		position: absolute;
		top: 5px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		content: attr(data-column);
		color: #000;
		font-weight: bold;
	}

	
}
